In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("Placement.csv")

In [5]:
quan_cols = df.select_dtypes(include=['int64', 'float64']).columns
qual_cols = df.select_dtypes(include=['object', 'category']).columns

In [6]:
quan_cols

Index(['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'], dtype='object')

In [7]:
df.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [8]:
descriptive=pd.DataFrame()

In [9]:
descriptive=pd.DataFrame(index=["mean","median",'mode'],columns=quan_cols)
descriptive

       sl_no ssc_p hsc_p degree_p etest_p mba_p salary
mean     NaN   NaN   NaN      NaN     NaN   NaN    NaN
median   NaN   NaN   NaN      NaN     NaN   NaN    NaN
mode     NaN   NaN   NaN      NaN     NaN   NaN    NaN

In [10]:
for i in quan_cols:
    descriptive[i]['mean'] = df[i].mean()
    descriptive[i]['median'] = df[i].median()
    descriptive[i]['mode'] = df[i].mode()[0]

In [11]:
descriptive

       sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
mean     108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
median   108       67       65       66       71       62  265000
mode       1       62       63       65       60     56.7  300000

In [12]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan_cols)

In [13]:
descriptive["sl_no"]["Mean"]

nan

In [14]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode"],columns=quan_cols)
for columnName in quan_cols:
    descriptive[columnName]["Mean"]=df[columnName].mean()

In [15]:
descriptive

       sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean     108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median   NaN      NaN      NaN      NaN      NaN      NaN     NaN
Mode     NaN      NaN      NaN      NaN      NaN      NaN     NaN

In [16]:
np.percentile(df["ssc_p"],50)

67.0

In [17]:
df.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [18]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","25%","50%","75%","100%"],columns=quan_cols)
for columnName in quan_cols:
    descriptive[columnName]["Mean"]=df[columnName].mean()
    descriptive[columnName]["Median"]=df[columnName].median()
    descriptive[columnName]["Mode"]=df[columnName].mode()[0]
    descriptive[columnName]["25%"]=df.describe()[columnName]["25%"]
    descriptive[columnName]["50%"]=df.describe()[columnName]["50%"]
    descriptive[columnName]["75%"]=df.describe()[columnName]["75%"]
    descriptive[columnName]["100%"]=df.describe()[columnName]["max"]

In [19]:
descriptive

        sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean      108  67.3034  66.3332  66.3702  72.1006  62.2782  288655
Median    108       67       65       66       71       62  265000
Mode        1       62       63       65       60     56.7  300000
25%      54.5     60.6     60.9       61       60   57.945  240000
50%       108       67       65       66       71       62  265000
75%     161.5     75.7       73       72     83.5   66.255  300000
100%      215     89.4     97.7       91       98    77.89  940000

In [20]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Min","25%","50%","75%","100%","IQR",
                               "1.5IQR","LesserRange","GreaterRange"],columns=quan_cols)
for columnName in quan_cols:
    descriptive[columnName]["Mean"]=df[columnName].mean()
    descriptive[columnName]["Median"]=df[columnName].median()
    descriptive[columnName]["Mode"]=df[columnName].mode()[0]
    descriptive[columnName]["Min"]=df[columnName].min()
    descriptive[columnName]["25%"]=df.describe()[columnName]["25%"]
    descriptive[columnName]["50%"]=df.describe()[columnName]["50%"]
    descriptive[columnName]["75%"]=df.describe()[columnName]["75%"]
    descriptive[columnName]["100%"]=df.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["75%"]-descriptive[columnName]["25%"]
    descriptive[columnName]["1.5IQR"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["LesserRange"]=descriptive[columnName]["25%"]- descriptive[columnName]["1.5IQR"]
    descriptive[columnName]["GreaterRange"]=descriptive[columnName]["75%"]+ descriptive[columnName]["1.5IQR"]

In [21]:
if(descriptive["ssc_p"]["LesserRange"]>descriptive["ssc_p"]["Min"]):
    print("LesserRange Outlier")
else:
    print("No LR Outlier")

No LR Outlier

In [22]:
lesser=[]
greater=[]

for columnName in quan_cols:
    if(descriptive[columnName]["LesserRange"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if(descriptive[columnName]["GreaterRange"]<descriptive[columnName]["100%"]):
        greater.append(columnName)

In [23]:
lesser

['hsc_p']

In [24]:
greater

['hsc_p', 'degree_p', 'salary']

In [25]:
for lesscolumn in lesser:
    df[lesscolumn][df[lesscolumn]<descriptive[lesscolumn]["LesserRange"]]=descriptive[lesscolumn]["LesserRange"]
for greatcolumn in greater:
    df[greatcolumn][df[greatcolumn]>descriptive[greatcolumn]["GreaterRange"]]=descriptive[greatcolumn]["GreaterRange"]

C:\Users\khavy\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\khavy\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [26]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Min","25%","50%","75%","100%","IQR",
                               "1.5IQR","LesserRange","GreaterRange"],columns=quan_cols)
for columnName in quan_cols:
    descriptive[columnName]["Mean"]=df[columnName].mean()
    descriptive[columnName]["Median"]=df[columnName].median()
    descriptive[columnName]["Mode"]=df[columnName].mode()[0]
    descriptive[columnName]["Min"]=df[columnName].min()
    descriptive[columnName]["25%"]=df.describe()[columnName]["25%"]
    descriptive[columnName]["50%"]=df.describe()[columnName]["50%"]
    descriptive[columnName]["75%"]=df.describe()[columnName]["75%"]
    descriptive[columnName]["100%"]=df.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["75%"]-descriptive[columnName]["25%"]
    descriptive[columnName]["1.5IQR"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["LesserRange"]=descriptive[columnName]["25%"]- descriptive[columnName]["1.5IQR"]
    descriptive[columnName]["GreaterRange"]=descriptive[columnName]["75%"]+ descriptive[columnName]["1.5IQR"]

In [27]:
lesser=[]
greater=[]

for columnName in quan_cols:
    if(descriptive[columnName]["LesserRange"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if(descriptive[columnName]["GreaterRange"]<descriptive[columnName]["100%"]):
        greater.append(columnName)

In [28]:
lesser

[]

In [29]:
greater

[]

In [30]:
descriptive

              sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean            108  67.3034  66.3347  66.3586  72.1006  62.2782  277649
Median          108       67       65       66       71       62  265000
Mode              1       62       63       65       60     56.7  300000
Min               1    40.89    42.75       50       50    51.21  200000
25%            54.5     60.6     60.9       61       60   57.945  240000
50%             108       67       65       66       71       62  265000
75%           161.5     75.7       73       72     83.5   66.255  300000
100%            215     89.4    91.15     88.5       98    77.89  390000
IQR             107     15.1     12.1       11     23.5     8.31   60000
1.5IQR        160.5    22.65    18.15     16.5    35.25   12.465   90000
LesserRange    -106    37.95    42.75     44.5    24.75    45.48  150000
GreaterRange    322    98.35    91.15     88.5   118.75    78.72  390000

In [31]:
df['ssc_p'].value_counts()

62.00    11
63.00    10
67.00     9
52.00     9
73.00     9
         ..
80.60     1
65.20     1
80.40     1
59.96     1
78.50     1
Name: ssc_p, Length: 103, dtype: int64

Frequency

In [32]:
#creating Dataframe
FreqTb=pd.DataFrame(columns=['Unique_val','Frequency','Relative Frequency','CumlSum'])

In [ ]:
FreqTb['Unique_val']=df['ssc_p'].value_counts().index
    FreqTb['Frequency']=df['ssc_p'].value_counts().values
    FreqTb['Relative Frequency']=(FreqTb['Frequency']/103)
    FreqTb['CumlSum']=FreqTb['Relative Frequency'].cumsum()

In [38]:
def freqTable(col,df):
    FreqTb=pd.DataFrame(columns=['Unique_val','Frequency','Relative Frequency','CumlSum'])
    FreqTb['Unique_val']=df[col].value_counts().index
    FreqTb['Frequency']=df[col].value_counts().values
    FreqTb['Relative Frequency']=(FreqTb['Frequency']/103)
    FreqTb['CumlSum']=FreqTb['Relative Frequency'].cumsum()
    return FreqTb

In [37]:
FreqTb

     Unique_val  Frequency  Relative Frequency   CumlSum
0         62.00         11            0.106796  0.106796
1         63.00         10            0.097087  0.203883
2         67.00          9            0.087379  0.291262
3         52.00          9            0.087379  0.378641
4         73.00          9            0.087379  0.466019
..          ...        ...                 ...       ...
98        80.60          1            0.009709  2.048544
99        65.20          1            0.009709  2.058252
100       80.40          1            0.009709  2.067961
101       59.96          1            0.009709  2.077670
102       78.50          1            0.009709  2.087379

[103 rows x 4 columns]

In [40]:
def describe(columnName,df):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Min","25%","50%","75%","100%","IQR",
                                   "1.5IQR","LesserRange","GreaterRange",'Skewness','Kurtosis'],columns=quan_cols)
    for columnName in quan_cols:
        descriptive[columnName]["Mean"]=df[columnName].mean()
        descriptive[columnName]["Median"]=df[columnName].median()
        descriptive[columnName]["Mode"]=df[columnName].mode()[0]
        descriptive[columnName]["Min"]=df[columnName].min()
        descriptive[columnName]["25%"]=df.describe()[columnName]["25%"]
        descriptive[columnName]["50%"]=df.describe()[columnName]["50%"]
        descriptive[columnName]["75%"]=df.describe()[columnName]["75%"]
        descriptive[columnName]["100%"]=df.describe()[columnName]["max"]
        descriptive[columnName]["IQR"]=descriptive[columnName]["75%"]-descriptive[columnName]["25%"]
        descriptive[columnName]["1.5IQR"]=1.5*descriptive[columnName]["IQR"]
        descriptive[columnName]["LesserRange"]=descriptive[columnName]["25%"]- descriptive[columnName]["1.5IQR"]
        descriptive[columnName]["GreaterRange"]=descriptive[columnName]["75%"]+ descriptive[columnName]["1.5IQR"]
        descriptive[columnName]["skewness"]=df[columnName].skew()
        descriptive[columnName]["Kurtosis"]=df[columnName].kurtosis()
    return descriptive

In [41]:
descriptive

              sl_no    ssc_p    hsc_p degree_p  etest_p    mba_p  salary
Mean            108  67.3034  66.3347  66.3586  72.1006  62.2782  277649
Median          108       67       65       66       71       62  265000
Mode              1       62       63       65       60     56.7  300000
Min               1    40.89    42.75       50       50    51.21  200000
25%            54.5     60.6     60.9       61       60   57.945  240000
50%             108       67       65       66       71       62  265000
75%           161.5     75.7       73       72     83.5   66.255  300000
100%            215     89.4    91.15     88.5       98    77.89  390000
IQR             107     15.1     12.1       11     23.5     8.31   60000
1.5IQR        160.5    22.65    18.15     16.5    35.25   12.465   90000
LesserRange    -106    37.95    42.75     44.5    24.75    45.48  150000
GreaterRange    322    98.35    91.15     88.5   118.75    78.72  390000